/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

body {
  margin: 0;
  padding: 30px;
  font-family: serif;
  color: #242424;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

.grey-text {
  color: #a7a7a7;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 40px;
}

input[type="text"] {
  padding: 20px;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  background-color: #f4f4f4;
  font-size: 18px;
  font-weight: bold;
}

.search-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
  color: #a242ef;
  padding: 20px;
}

.play-btn {
  display: flex;
  background-color: #e9d0fa;
  color: #a242ef;
  border: none;
  padding: 30px;
  border-radius: 51%;
  cursor: pointer;
  transition: border-color 0.25s;
}

.play-btn:hover,
.search-btn:hover {
  background-color: #242424;
}

.violet {
  color: #a242ef;
}

span {
  font-weight: bold;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.synonyms-wrapper span {
  margin: 5px;
}

form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* align-items: center; */
}

.logo {
  margin-right: auto;
}

select {
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #242424;
}

p {
  font-size: 18px;
  color: #242424;
}

li {
  color: #a242ef;
}
